```javascript


const {HttpParameterEntity} = require('@pigalle/entities.http.parameter')

// A custom HttpParameter
class QueryParam extends HttpParameterEntity {

}

// Use this {QueryParam}
const param = QueryParam.factory('param')


```
